<div {{bind-attr class="responsive:table-responsive"}}>
    <table {{bind-attr class=":table :table-component hoverable:table-hoverable striped:table-striped bordered:table-bordered condensed:table-condensed"}}>
        {{#if showHeader}}
            <thead>
            <tr>
                {{#if _detailRowsEnabled}}
                    {{#if useDefaultDetailRowToggle}}
                        {{!-- add an empty column for detailRow toggle cells --}}
                        <th class="table-component-header" width=20></th>
                    {{/if}}
                {{/if}}
                {{#each col in _columns}}
                    <th class="table-component-header" {{bind-attr width=col.columnWidth}}>
                        {{#if col.headerCellCustomViewClass}}
                            {{view col.headerCellCustomViewClass config=col}}
                        {{else}}
                            {{#if col.sortable}}
                                <button {{action 'sortTable' col.cellValuePath}} class="table-component-header-sortable-btn">
                                    <div class="table-component-header-name">
                                        <span>
                                            {{col.headerCellName}}
                                            &nbsp;
                                            {{tableComponentSortIcon col _sortProperty sortAscending}}
                                        </span>
                                    </div>
                                </button>
                            {{else}}
                                <div class="table-component-header-name">{{col.headerCellName}}</div>
                            {{/if}}
                        {{/if}}
                    </th>
                {{/each}}
            </tr>
            </thead>
        {{/if}}
        <tbody>
        {{#each row in _rows}}
            <tr>
                {{#if _detailRowsEnabled}}
                    {{#if useDefaultDetailRowToggle}}
                        {{!-- add cell with button to toggle row detail --}}
                        <td>
                            <button {{bind-attr data-rowindex='row._rowIndex'}} class='toggle-detail-row'>
                                {{#if row._rowDetailVisible}}
                                    <span class='fa fa-minus fa-sm'></span>
                                {{else}}
                                    <span class='fa fa-plus fa-sm'></span>
                                {{/if}}
                            </button>
                        </td>
                    {{/if}}
                {{/if}}
                {{#each col in _columns}}
                    {{#if col.cellCustomViewClass}}
                        {{view col.cellCustomViewClass row=row config=col}}
                    {{else}}
                        {{tableComponentCell row col}}
                    {{/if}}
                {{/each}}
            </tr>
            {{#if _detailRowsEnabled}}
                <tr {{bind-attr class=':table-component-detail-row :collapse row._rowDetailVisible:in'}}>
                    <td {{bind-attr colspan='_rowColspan'}}>
                        <div class="table-component-detail-container">
                            {{view detailRowViewClass row=row}}
                        </div>
                    </td>
                </tr>
            {{/if}}
        {{/each}}
        {{#if _showLoadingRow}}
            <tr class='table-component-loading-row'>
                <td {{bind-attr colspan='_rowColspan'}}>
                    <div class="table-component-loading-container">
                        <span class='fa fa-spinner fa-spin fa-2x'></span>
                    </div>
                </td>
            </tr>
        {{/if}}
        </tbody>
    </table>
</div>