{{#if view.colConfig.sortable}}
    <button {{action '_sort' view.colConfig._columnIndex}} class="table-cell-button table-component-header-cell-sort"
            data-toggle="tooltip" {{bind-attr title='view.colConfig.headerCellInfo'}}>
        <span class="table-component-header-text">{{view.colConfig.headerCellName}}</span>
        <span class="table-component-sort-icon-container">
            <span {{bind-attr class=':table-component-sort-icon view.sortIconClass'}}></span>
        </span>
    </button>
{{else}}
    {{view.colConfig.headerCellName}}
{{/if}}
